/* Get Started Page */
.screen{
    overflow: auto;
}
.get-started{
    margin-bottom: 30%;
}

.image_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.start_logo{
    padding-top: 15%;
    max-width:100%;
}

/* Register Page */
.register_form{
    padding-left: 3%;
    padding-right: 3%;
}

/* Home Page */
.fixed-row-bottom {  
    position:fixed;
    bottom:0;
    width:100%;
    padding-bottom: 3%;
}

.top-row{
    margin-top: 5%;
}

/* MedPal Info */
.medpal-card{
    padding: 5%;
    border-style: solid;
}

/* MedPal Chat */
.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 2px;
    margin: 3% 0%;
    padding: 0% 1%;
}

.chat-left{
    margin-right: 7%;
}
  
.darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 7%;
}

.time-right {
    float: right;
    color: #aaa;
}
  
.time-left {
    float: left;
    color: #999;
}
  
/* Profile */
.profile-form{
    margin: 0% 2%;
}