/* Get Started Page */
.screen{
    overflow: auto;
}
.get-started{
    margin-bottom: 30%;
}

.image_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.start_logo{
    padding-top: 7%;
    max-width:100%;
}

/* Register Page */
.register_form{
    padding-left: 4%;
    padding-right: 4%;
}

/* Home Page */
.fixed-row-bottom {
    position:fixed;
    bottom:0;
    width:100%;
    padding-bottom: 3%;
}

hr{
  background: black;
}

.top-row{
    margin-top: 5%;
}

/*Medpal form*/
.info{
    color:blue; 
    font-size:110%; 
    text-align:center;
}

/* MedPal Info */
.medpal-card{
    padding: 5%;
    border-style: solid;
}

.card-small{
    padding: 1%;
    text-align: center;
    border: #000;
    border-width: 1px;
    border-style: solid;
    height: 80px;
}

/* MedPal Chat */
.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 2px;
    margin: 3% 0%;
    padding: 0% 1%;
}

.chat-left{
    margin-right: 7%;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 7%;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

/* Profile */
.profile-form{
    margin: 0% 5%;
}


/* yourmedicine.html */
.table-row {
  display: table-row;
  height: 90px;
}
.table-cell {
  border: 1px solid;
  width:200px;
  display: table-cell;
  padding: 2px;
}

.yourmed-card{
    padding: 1%;
    border-style: solid;
}

/* medicinereminder */
#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
}

.btn-warning{
  background-color: #E99619;
}
.btn-success{
    background-color: #4AD63D;
}

/* addmed */
.monday{
  border: 0px solid black;
  border-radius:50%;
  padding:3px;
  display: inline-block;
}
.togglemonday{
  border: 2px solid red;
}
.tuesday{
  border: 0px solid black;
  border-radius:50%;
  padding:3px;
  display: inline-block;
}
.toggletuesday{
  border: 2px solid red;
}
.wednesday{
  border: 0px solid black;
  border-radius:50%;
  padding:3px;
  display: inline-block;
}
.togglewednesday{
  border: 2px solid red;
}
.thursday{
  border: 0px solid black;
  border-radius:50%;
  padding:3px;
  display: inline-block;
}
.togglethursday{
  border: 2px solid red;
}
.friday{
  border: 0px solid black;
  border-radius:50%;
  padding:3px;
  display: inline-block;
}
.togglefriday{
  border: 2px solid red;
}
.saturday{
  border: 0px solid black;
  border-radius:50%;
  padding:3px;
  display: inline-block;
}
.togglesaturday{
  border: 2px solid red;
}
.sunday{
  border: 0px solid black;
  border-radius:50%;
  padding:3px;
  display: inline-block;
}
.togglesunday{
  border: 2px solid red;
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
}

.backbutton{
    background-color: transparent;
    border:0;
}

.food-carousel-left img {
  max-height: 300px;
  margin: 0 auto;
}

.food-carousel-left {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

.food-carousel-images{
  width:40%;
  margin-left: 3%; 
  float: left;
}

.food-carousel-text{
  color:black; 
  width: 50%; 
  float: right; 
  margin-right: 5%;
} 
