/* Get Started Page */
.screen{
    overflow: auto;
}
.get-started{
    margin-bottom: 30%;
}

.image_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.start_logo{
    padding-top: 7%;
    max-width:100%;
}

/* Register Page */
.register_form{
    padding-left: 4%;
    padding-right: 4%;
}

/* Home Page */
.fixed-row-bottom {
    position:fixed;
    bottom:0;
    width:100%;
    padding-bottom: 3%;
}

hr{
  background: black;
}

.top-row{
    margin-top: 5%;
}

/*Medpal form*/
.info{
    color:blue;
    font-size:110%;
    text-align:center;
}

/* MedPal Info */
.medpal-card{
    padding: 5%;
    border-style: solid;
}

.card-small{
    padding: 1%;
    text-align: center;
    border: #000;
    border-width: 1px;
    border-style: solid;
    height: 80px;
}

/* MedPal Chat */
.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 2px;
    margin: 3% 0%;
    padding: 0% 1%;
}

.chat-left{
    margin-right: 7%;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 7%;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

/* Profile */
.profile-form{
    margin: 0% 5%;
}

.logout{
  margin-left: 5%;
}


/* yourmedicine.html */
.table-row {
  display: table-row;
  height: 90px;
}
.table-cell {
  border: 1px solid;
  width:200px;
  display: table-cell;
  padding: 2px;
}

.yourmed-card{
    padding: 1%;
    border-style: solid;
    border-bottom: 0px;
}

.edit_belete_button{
    padding: 1%;
    font-size: 10px;
    text-align: right;
    border-style: solid;
    border-top: 0px;
}


/* medicinereminder */
#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
}

.btn-warning{
  background-color: #E99619;
}
.btn-success{
    background-color: #4AD63D;
}

/* addmed */

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
}

.backbutton{
    background-color: transparent;
    border:0;
}

.food-carousel-left img {
  max-height: 300px;
  margin: 0 auto;
}

.food-carousel-left {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

.food-carousel-images{
  width:40%;
  margin-left: 3%;
  float: left;
}

.food-carousel-text{
  color:black;
  width: 50%;
  float: right;
  margin-right: 5%;
}

.required:after {
    content:" *";
    color: red;
  }


/* --------- Tooltip Styles ---------- */
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.onerow {
  display:inline;
  margin-top: -10px;
}

.weekDays-selector input {
  display: none!important;
}
.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 12px;
  background: #ffffff;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-right: 16px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #71dd59;
  color: #ffffff;
}